{% extends "base.html" %}

{% block title %}
  {% if mode == 'add' %}
    Додати трек
  {% elif mode == 'edit' %}
    Редагувати трек
  {% elif mode == 'view' %}
    Перегляд треку
  {% elif mode == 'delete' %}
    Видалити трек
  {% endif %}
{% endblock %}

{% block content %}
<h2>
  {% if mode == 'add' %}
    Додати трек
  {% elif mode == 'edit' %}
    Редагувати трек
  {% elif mode == 'view' %}
    Перегляд треку
  {% elif mode == 'delete' %}
    Видалити трек
  {% endif %}
</h2>

<form method="post">
  <label>Назва треку:</label><br>
  <input type="text" name="title" value="{{ book.title if book else '' }}"
         {% if mode == 'view' or mode == 'delete' %}readonly{% endif %}
         required><br><br>

  <label>Виконавець:</label><br>
  <input type="text" name="artist" value="{{ book.artist if book else '' }}"
         {% if mode == 'view' or mode == 'delete' %}readonly{% endif %}
         required><br><br>

  {% if mode == 'add' %}
    <button id="adminButton" type="submit">Додати</button>
  {% elif mode == 'edit' %}
    <button id="adminButton" type="submit" name="mode" value="edit">Оновити</button>
  {% elif mode == 'delete' %}
    <button id="adminButton"type="submit" name="mode" value="delete" onclick="return confirm('Ви дійсно хочете видалити трек?');">Видалити</button>
  {% endif %}
</form>
{% endblock %}
