{% extends "base.html" %}

{% block content %}

<h1>Бібліотека музики</h1>

<input type="text" id="searchInput" placeholder="Пошук за назвою">
<button onclick="searchMusic()" id="searchButton">Знайти</button>

{% if songs %}
<table>
    <thead>
        <tr>
            <th>Назва</th>
            <th>Виконавець</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody id="musicBody">
        {% for song in songs %}
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.artist.name }}</td>
            <td>
                <a href="{{ url_for('edit_song', song_id=song.id) }}">Редагувати</a>
                <form action="{{ url_for('delete_song', song_id=song.id) }}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Ви дійсно хочете видалити цей трек?');">
                        Видалити
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Нічого не знайдено.</p>
{% endif %}

{% endblock %}